/*
 * Globals
 */
/**{*/
    /*margin:0;*/
/*}*/
html,body{
    height:100%;
}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 20px;
}
nav{
    position: relative;
    width:100%;
    height:50px;
    background-color: rgba(0,0,0,.5);
    z-index:99;

}
nav a{
    text-decoration: none;
    color:#fff;
    margin-left:30px;
    line-height: 50px;
    text-align:center;

}

.sect{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

.subSection{
    height: 100%;
    background-color: rgba(0,0,0,0.1);


}

.sectOne{
background-image:url("photo/Rat Opening photo.png") ;
}

.sectTwo{
    background-image:url("photo/jamie and wife.jpg");
}

.sectThree{

}
body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

@font-face {
    font-family: 'BentonSans-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('BentonSans-Regular'), url('BentonSans-Regular.woff') format('woff');
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}


/*
 * Masthead for nav
 */

.blog-masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0,0,0,.5);
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}




/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: center;
    font-family: BentonSans;
    font-size: 29px;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
}
.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}
.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}


/*
 * Footer
 */

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

/*.blog-title{*/
   /**/
    /*Color: black;*/
    /*font-size:60px;*/
    /*margin-left: 0px;*/
    /*font-weight: 600;*/
    /*position: relative;*/
/*}*/

.credit{
    font-family: "Helvetica Neue Light";
    Color: dimgrey;
    font-size:12pt;
    font-style: oblique;
    position:absolute;
     right:10px;
    width:300px;
}
.caption{
    font-family: "Helvetica Neue Light";
    Color: dimgrey;
    font-size:12pt;
    font-style: oblique;
}

.brand{
    font-family:"Times New Roman";
    font-size: 30pt;
    font-weight: 400;
    position: relative;
    color: black;
}
.navbar-header{
    background-color: #cdddeb;
}
.container-fluid{
    background-color: #cdddeb;

}
.nav{
    background-color: #cdddeb;

}
.blockquote-reverse{
    font-family:BentonSans;
    color:rebeccapurple;
    font-style:oblique;
    font-weight:500;
}
.glyphicon glyphicon-heart{

    color:red;
}

.mynav{
    color: #337ab7;
}

.glyphicon {
    font-size: 30px;
}
.img-circle {
    border-radius: 50%;
}
.margins{
    position: relative;
    font-family:'BentonSans-Regular';
    font-weight: 400;
    padding-left: 350px;
}
/*.blog-nav{*/
    /*color: orange;*/
/*}*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.photo{
    height: 500px;
    padding-left: 200px;
    padding-right: 100px;
}

/*.embed-responsive-item {*/
    /*height: 350px;*/
    /*width:600px;*/
    /*padding-left: 100px;*/
    /*padding-right: 100px;*/

/*}*/

/*.img-thumbnail{*/
    /*padding-left:100px;*/

/*}*/